---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";

a {
    // color: #72d218;
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #72d218;
}

h1 {
    font-size: 45px;
    font-family: 'Merriweather', sans-serif;
}
